<spinner *ngIf="loading"></spinner>
<div class="grid-container">
  <div class="grid-item" *ngIf="userProfile">
    <profile-card class="profileFeatures" style="height: 20000px;" [userdata]="userProfile" [ismainUser]="ismainUser" (loading)="loading = $event"></profile-card>
  </div>
  <div *ngIf="!userProfile">
  </div>
  <div class="grid-item">
    <app-post-dashboard [userdata]="userProfile" *ngIf="userProfile"></app-post-dashboard>
</div>
  <div class="grid-item">
    <app-event-dashboard #eventDashboard *ngIf="userProfile" [user]="userProfile"></app-event-dashboard>
</div>
</div>
