<mat-card *ngIf="showPost" class="post-card" >
  <mat-card-header>
    <button *ngIf="showMenu" mat-icon-button [matMenuTriggerFor]="menu" class='post-menu'>
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu" >
      <button mat-menu-item (click)="openPostUpdateDialog()">
        <mat-icon>edit</mat-icon>
        <span>Edit</span>
      </button>
      <button mat-menu-item (click)="deletePost()">
        <mat-icon>delete</mat-icon>
        <span>Delete</span>
      </button>
    </mat-menu>
    <img mat-card-avatar class="post-user" [src]="'http://localhost:8000'+post?.userProfile?.profilePicture">
    <mat-card-title>{{post?.userProfile?.name+ " " + post?.userProfile?.surname}}</mat-card-title>
    <mat-card-subtitle>{{post?.dateOfPublishing | date:'fullDate'}}</mat-card-subtitle>
  </mat-card-header>
  <img src="https://material.angular.io/assets/img/examples/shiba2.jpg">
  <mat-card-content>
    <p>
      {{post?.description}}
    </p>
  </mat-card-content>
  <hr />
  <mat-card-actions class="post-action">
    <label>
      <div class="like_comment">
        <mat-icon>thumb_up</mat-icon>
        <span (click)="like()">Like</span>
      </div>
      <div class="like_comment">
        <mat-icon>chat_bubble</mat-icon>
        <span (click)="showComments=!showComments">Comment{{post.comments && post.comments.length > 0 ? ' ('+post.comments.length+')':'' }}</span>
      </div>
    </label>
  </mat-card-actions>
  <hr />
  <div class="commentSubmit" [formGroup]="commentForm">
    <div class="form">
      <dga-input class="col-md-10" widthClass="col-md-12" type="textarea" placeholder="Comment" [form]="commentForm"
        controlName="content"></dga-input>
    </div>
    <button mat-button class="button_style" (click)="commentSubmit()" [disabled]="commentForm.invalid">
      Comment
    </button>
  </div>
  <div *ngIf="showComments" class="commentsContainer">
  <mat-card class="comment-card" *ngFor='let comment of (post && post.comments) ? post.comments : []' >
    <mat-card-header>
      <img mat-card-avatar class="post-user" [src]="'http://localhost:8000'+comment?.userProfile?.profilePicture">
      <mat-card-title class="mat-card-title">{{comment?.userProfile?.name + " " + comment?.userProfile?.surname  }}</mat-card-title>
      <mat-card-subtitle class="mat-card-subtitle">{{comment?.dateOfComment | date:'fullDate'}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content >
      <p>
        {{comment?.content}}
      </p>
    </mat-card-content>
  </mat-card>
  </div>
</mat-card>