<mat-card *ngIf="showPost" class="post-card">
  <mat-card-header>
    <button *ngIf="showMenu" mat-icon-button [matMenuTriggerFor]="menu" class='post-menu'>
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="openPostUpdateDialog()">
        <mat-icon>edit</mat-icon>
        <span>Edit</span>
      </button>
      <button mat-menu-item (click)="deletePost()">
        <mat-icon>delete</mat-icon>
        <span>Delete</span>
      </button>
    </mat-menu>
    <img mat-card-avatar class="post-user" [src]="post && post.userProfile && post.userProfile.profilePicture ? 'http://localhost:8000'+post.userProfile.profilePicture : '../../../../assets/icons/avatar.jpg'">
    <mat-card-title>{{post?.userProfile?.name+ " " + post?.userProfile?.surname}}</mat-card-title>
    <mat-card-subtitle>{{post?.dateOfPublishing | date:'fullDate'}}</mat-card-subtitle>
  </mat-card-header>
  <img *ngIf="post && post.filePath && !post.filePath.includes('mp4')" [src]="'http://localhost:8000'+post.filePath">
  <video *ngIf="post && post.filePath && post.filePath.includes('mp4')" width="500" height="500" controls>
    <source [src]="'http://localhost:8000'+post.filePath">
  </video>
  <mat-card-content>
    <p>
      {{post?.description}}
    </p>
  </mat-card-content>
  <hr />
  <mat-card-actions class="post-action">
    <label>
      <div class="like_comment">
        <mat-icon>thumb_up</mat-icon>
        <span (click)="like()">Like</span>
      </div>
      <div class="like_comment">
        <mat-icon>chat_bubble</mat-icon>
        <span (click)="showComments=!showComments">Comment{{post.comments && post.comments.length > 0 ? '
          ('+post.comments.length+')':'' }}</span>
      </div>
    </label>
  </mat-card-actions>
  <hr />
  <div class="commentSubmit" [formGroup]="commentForm">
    <div class="form">
      <dga-input class="col-md-10" widthClass="col-md-12" type="textarea" placeholder="Comment" [form]="commentForm"
        controlName="content"></dga-input>
    </div>
    <button mat-button class="button_style" (click)="commentSubmit()" [disabled]="commentForm.invalid">
      Comment
    </button>
  </div>
  <div *ngIf="showComments" class="commentsContainer">
    <mat-card class="comment-card" *ngFor='let comment of (post && post.comments) ? post.comments : []; let i=index;'>
      <mat-card-header>
        <button *ngIf="showMenu" mat-icon-button [matMenuTriggerFor]="menu1" class='post-menu'>
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu1="matMenu">
          <button mat-menu-item (click)="commentForms[i].showForm = true; commentForms[i].form.controls.content.setValue(comment.content)">
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
          </button>
          <button mat-menu-item (click)="deleteComment(i)">
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>
        </mat-menu>
        <img mat-card-avatar class="post-user" [src]="comment && comment.userProfile && comment.userProfile.profilePicture ? 'http://localhost:8000'+comment.userProfile.profilePicture : '../../../../assets/icons/avatar.jpg'">
        <mat-card-title class="mat-card-title">{{comment?.userProfile?.name + " " + comment?.userProfile?.surname }}
        </mat-card-title>
        <mat-card-subtitle class="mat-card-subtitle">{{comment?.dateOfComment | date:'fullDate'}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p *ngIf="!commentForms[i].showForm">
          {{comment?.content}}
        </p>
        <div *ngIf="commentForms[i].showForm" class="row" [formGroup]="commentForms[i].form">
          <dga-input class="col-md-12" widthClass="col-md-12" type="textarea" placeholder="Comment"
            [form]="commentForms[i].form" controlName="content" [required]="true"></dga-input>
        </div>
        <div *ngIf="commentForms[i].showForm" class="row">
          <button mat-button class="col-md-6" (click)="updateComment(commentForms[i], i)" [disabled]="commentForms[i].form.invalid">
            Comment
          </button>
          <button mat-button class="col-md-6" (click)="commentForms[i].form.reset(); commentForms[i].showForm = false;">
            Cancel
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</mat-card>