.grid-container {
    width: 100vw;
    height: 93.5vh;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    background-color: white;
    padding: 10px;
    overflow: hidden;
    background-image: url('../../../../assets/icons/Background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    .grid-item {
        /* background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid rgba(0, 0, 0, 0.8); */
        padding: 20px;
        font-size: 30px;
        text-align: center;
    }
}
