<h2 mat-dialog-title>
    Post
    <mat-icon mat-dialog-close aria-hidden="false" aria-label="Example home icon">close</mat-icon>
</h2>
<hr>
<mat-dialog-content>
    <div class="postForm" [formGroup]="postForm">
        <div class="row">
            <dga-input class="col-md-12" widthClass="col-md-12" type="textarea" placeholder="description"
                [form]="postForm" controlName="description" [required]="true"></dga-input>
        </div>
    </div>
</mat-dialog-content>
<hr>
<mat-dialog-actions align="center">
    <button mat-button cdkFocusInitial class="col-md-12" [ngClass]="{disabled: postForm.invalid}"
        [disabled]="postForm.invalid" (click)="save()">Save</button>
</mat-dialog-actions>